* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

.invoiceDesignContainer {
  margin: 15px;
  padding: 15px;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0.1), 0 2px 3px -2px rgb(0 0 0 / 0.1);
}

body {
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  height: auto;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin-left: 20px;
}

.left > p {
  margin-top: 6px;
}

.right {
  margin-right: 20px;
  gap: 2px;
}

.fbrLogo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.qrCode {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.invoiceDetails {
  width: 98%;
}

.upper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  color: rgb(209, 36, 36);
}

.lower {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.left-details > p {
  padding: 4px 16px;
}

.right-details > p {
  padding: 4px 16px;
}

.itemsTable {
  width: 98%;
  border-collapse: collapse;
  border: 2px solid #333;
  margin: 20px;
}

.itemsTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.itemsTable th {
  background-color: #e2e2e2;
}

.orderDetails {
  border-top: 1px solid black;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.position {
  width: 98%;
  display: flex;
  justify-content: end;
}

.netBill {
  font-size: 22px;
}

.lastPayment {
  display: flex;
  justify-content: space-between;
  width: 98%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  margin-left: 20px;
  padding: 6px 0;
}

.h3 {
  padding-bottom: 8px;
}

.footer {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.footer > p {
  padding: 4px 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  font: inherit;
  color: inherit;
  width: 50%;
  margin: 0;
  padding: 4px;
  background: transparent;
  border: 1px solid gray;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.Form{
  display: flex;
  justify-content: center;
  margin: 6px;
  padding: 0.25rem;
}


.formContainer {
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 15px;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0.1), 0 2px 3px -2px rgb(0 0 0 / 0.1);
}

.formRow{
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
  margin-bottom: 1rem;
}

.formColume{
  width: 50%;
  padding: 0 0.75rem;
}

.formContainer h2{
  color: #555353;
}

.formLabel{
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #212529;
  font-size: 1rem;
  line-height: 1.5;
}


select {
 display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

option {
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
}

option:hover,
option:checked {
  background-color: #e0e0e0;
  color: #000;
}

.previewBtn {
  background-color: #3b82f6;
  color: #ffffff;
  font-weight: 700;
  margin: 0.25rem;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  border: 2px solid #3b82f6;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  transition: all 300ms;
}

.previewBtn:hover {
  background-color: #ffffff;
  color: #3b82f6;
  cursor: pointer;
}

.closeBtn {
  background-color: rgb(236, 39, 39);
  color: #ffffff;
  font-weight: 700;
  margin: 0.25rem;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  border: 2px solid rgb(236, 39, 39);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  transition: all 300ms;
}

.closeBtn:hover {
  background-color: #ffffff;
  color: #d81919;
  cursor: pointer;
}

.inputField {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.InvoiceContainer {
  margin: 15px;
  padding: 15px;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0.1), 0 2px 3px -2px rgb(0 0 0 / 0.1);
}

.InvoiceTable {
  margin: 15px;
  padding: 15px;
  max-width: 60rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0.1), 0 2px 3px -2px rgb(0 0 0 / 0.1);
}

.InvoiceTableDetails {
  width: 100%;
  text-align: center;
}
.table-header {
  background-color: gray;
  color: white;
  padding: 10px !important;
}

.table-row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px !important;
}
.table-head {
  text-align: center;
  width: 100%;
}

.table-row td {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
  text-align: center;
  min-width: 0;
}

.viewBtn {
  color: rgb(33, 127, 165);
}

.viewBtn:hover {
  background-color: rgb(184, 184, 184);
  color: white;
  transition: all 1s;
  cursor: pointer;
}

@media print {
  button {
    display: none;
  }
}
